<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <script src="http://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/main.js"></script>

    <div class="box">
        <h1>Welcome</h1>
        <h3>Let's get started</h3>
        <input type="text" id="name" name="name" placeholder="Username">
        <input type="password" id="password" name="password" placeholder="Password">
        <input type="submit" value="Login" onclick="login()">
    </div>
    <p id="message"></p>
</body>
</html>